body{
    background-color: rgb(43, 45, 46);

}
.container{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    min-height: 450px;
    background-color: rgb(16, 76, 116);
    flex-wrap: wrap;
}
.text{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: rgb(172, 101, 101);
}
.author{
    font-size: 14px;
    float: right;
    margin-right: 10px;
    font-weight: bold;
    font-family:fantasy;
}
.number img{
    max-width: 30px;
    cursor: pointer;
    float: right;
}

.number:hover img{
    background-color: rgb(216, 214, 214);
    /* animation: rot 1s linear; */
    /* animation: App-logo-float infinite 3s ease-in-out; */
    border-radius: 20px;
      animation: img-spin infinite 5s linear;
}

@media (prefers-reduced-motion: no-preference) {
    img {
      animation: img-float infinite 3s ease-in-out;

    }
  }
/* @keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(3600deg);
    }
} */
@keyframes img-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

@keyframes img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.start-quote{
    color: rgb(78, 77, 76);
}
.button{
    padding: 10px;
    text-align: center; 
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(2, 161, 253); 
    color: rgb(255, 255, 255);
}
.button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(9, 122, 187); 
}